{% block sw_cms_element_review_slider_preview %}
<div class="sw-cms-el-preview-review-slider">
    <div class="sw-cms-review-slider-item-preview"></div>
    <div class="sw-cms-review-slider-item-preview"></div>
</div>
{% endblock %}